@import url('https://fonts.googleapis.com/css?family=Mukta+Malar:100,200,300,400,500,600,700|Roboto+Slab:100,200,300,400,500,600,700');


/*-----------------------------------------------------Body styles*/

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    overflow-x: hidden;
}



/*-----------------------------------------------------Font styles*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Mukta Malar', 'Roboto Slab', sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: #fafafa;
}


/*-----------------------------------------------------FontAwesome styles*/

.icon,
i.fa {
    padding-bottom: 5px;
    color: rgb(0, 24, 6, 0.7);
}

/*-----------------------------------------------------NavBar styles*/

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    opacity: 0.50;

}

.navbar {
    font-size: 20px;
    color: #fafafa;
    font-family: 'Mukta Malar', 'Roboto Slab', sans-serif;
    padding-bottom: 20px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

a {
    color: #fafafa;
    text-decoration: none !important;
}

.main-nav li {
    text-align: center;
    margin: 10px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    margin-bottom: 50px;
    cursor: pointer;
    color: #fafafa;
    font-size: 24px;
}

.navbar-toggle:hover{
     color: #649AD5;
      
      
}

.active {
    display: block;
}

 .logo:hover,
    .nav-link:hover {
        color: #6AA9F6 !important;
    }

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-link {
        margin-left: 20px;

    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-link:hover {
        color: #6AA9F6 !important;
    }
}

/*----------------------------------------------------- Section styles*/

.section-style-one {
    background-color: rgb(0, 24, 6, 0.7);
}

.section-style-two {
    background-color: rgb(38, 38, 38, 0.9);
}



/*-----------------------------------------------------Flexbox parent containers and children*/

/*----------------------------------------------------- Flexbox Number-box*/

.container-number-box {
    display: flex;

}

.number-box {
    flex-grow: 1;
}

/*----------------------------------------------------- Flexbox Selector*/

.container-selector {
    display: flex;
    flex-wrap: wrap;

}

.class-selector,
.gender-selector,
.age-selector,
.average-selector {
    flex: 1;
    flex-grow: 1;
    min-width: 180px;
    min-height: 150px;

    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 40px;

}

@media(max-width:350px) {
    .class-selector,
    .gender-selector,
    .age-selector,
    .average-selector {
        min-width: 140px;
        min-height: 120px;
        padding-left: 30px;
    }

}



@media only screen and (min-width: 351px) and (max-width: 567px) {
    .class-selector,
    .gender-selector,
    .age-selector,
    .average-selector {
        padding-top: 60px;
        padding-left: 35px;
        padding-bottom: 60px;
        width: 23%;
    }
}


@media only screen and (min-width: 568px) and (max-width: 991px) {
    .class-selector,
    .gender-selector,
    .age-selector,
    .average-selector {
        min-width: 283px;
        padding-top: 20px;
        padding-left: 100px;
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1250px) {
    .class-selector {
        padding-left: 90px;
    }
    
    .gender-selector,
    .age-selector,
    .average-selector {
        padding-left: 50px;
    }
}


@media(min-width:1251px) {
    .class-selector,
    .gender-selector,
    .age-selector,
    .average-selector {
        min-width: 300px;
        padding-top: 30px;
        padding-left: 160px;
        padding-bottom: 50px;
    }
}


/*----------------------------------------------------- Flexbox PieChart*/

.container-pie {
    display: flex;
    flex-wrap: wrap;
}

.crew-class-pie,
.sex-pie,
.age-pie,
.survival-pie {
    flex: 1;
    flex-grow: 1;
    min-width: 220px;
    min-height: 180px;
    padding-top: 40px;
    padding-left: 40px;
}

@media(max-width:399px) {

    .crew-class-pie,
    .sex-pie,
    .age-pie,
    .survival-pie {
        padding-left: 60px;
        padding-bottom: 33px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    .crew-class-pie,
    .sex-pie,
    .age-pie,
    .survival-pie {
        padding-left: 30px;
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 820px) {
    .crew-class-pie,
    .sex-pie,
    .age-pie,
    .survival-pie {
        min-height: 180px;
        padding-left: 50px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1250px) {
    .crew-class-pie,
    .sex-pie,
    .age-pie,
    .survival-pie {
        padding-left: 130px;
        padding-right: 50px;
        padding-bottom: 50px;
        min-width: 400px;
        min-height: 300px;
    }
}

@media(min-width:1251px) {

    .crew-class-pie,
    .sex-pie,
    .age-pie,
    .survival-pie {
        padding-left: 100px;
        padding-bottom: 33px;
    }
}

/*----------------------------------------------------- Flexbox RowChart & Distribution*/

.container-row {
    display: flex;
    flex-wrap: wrap;
}


.balance-rowchart,
.distribution {
    flex: 1;
    flex-grow: 1;
    min-width: 161px;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 1px;
    padding-bottom: 50px;
}

@media only screen and (min-width: 351px) and (max-width: 641px) {
    .balance-rowchart,
    .distribution {
        min-width: 350px;
        padding-left: 15px;
        padding-bottom: 30px;
    }

}


@media only screen and (min-width: 642px) and (max-width: 1100px) {
    .balance-rowchart,
    .distribution {
        padding-left: 50px;
        padding-bottom: 50px;
        min-width: 400px;
        min-height: 300px;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1400px) {
    .balance-rowchart,
    .distribution {
        padding-left: 110px;
        padding-bottom: 50px;
        min-width: 500px;
        min-height: 400px;
    }

}

@media(min-width:1401px) {
    .balance-rowchart,
    .distribution {
        padding-left: 225px;
        padding-bottom: 5px;
        padding-top: 50px;
        min-width: 600px;
        min-height: 400px;
    }

}

/*----------------------------------------------------- Flexbox BarChart*/

.container-bar {
    display: flex;
    flex-wrap: wrap;
}


.gender-bar,
.class-bar,
.age-bar {
    flex: 1;
    flex-grow: 1;
    min-width: 270px;
    min-height: 250px;
    padding-top: 40px;
    padding-left: 70px;
    padding-bottom: 33px;
    width: 23%;
}

@media(max-width:530px) {
    .gender-bar,
    .class-bar,
    .age-bar {
        padding-left: 20px;
        padding-bottom: 33px;
    }
}

@media only screen and (min-width: 531px) and (max-width: 620px) {
    .gender-bar,
    .class-bar,
    .age-bar {
        padding-left: 160px;
        padding-right: 150px;
        padding-bottom: 50px;


    }
}

@media only screen and (min-width: 621px) and (max-width: 820px) {
    .gender-bar,
    .class-bar,
    .age-bar {
        min-width: 300px;
        min-height: 180px;
        padding-left: 20px;
    }
}

@media only screen and (min-width: 821px) and (max-width: 1250px) {
    .gender-bar,
    .class-bar,
    .age-bar {
        padding-left: 130px;
        padding-bottom: 50px;
        min-width: 400px;
        min-height: 250px;

    }
}

/*----------------------------------------------------- Flexbox Titanic Info*/

.container-info {
    display: flex;
    flex-wrap: wrap;
}

.info {
    flex-grow: 1;
}

/*-----------------------------------------------------Titanic info styles**/

.info {
    font-family: 'Mukta Malar', sans-serif;
    padding: 10px 20px;
    font-weight: 500;
    text: black;
    text-align: center;
    color: black;
}

.info-text {
    text: black;
    text-align: center;
    color: black;
}

/*----------------------------------------------------- Flexbox Footer*/
.container-footer-one,
.container-footer-two
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-one,
.footer-two,
.footer-three {
    flex-grow: 1;
   padding: 15px 0px;
}

@media (max-width: 550px){
    .container-footer-one { 
        display : none; 
        visibility : hidden; 
    }
}

@media (min-width: 551px){
    .container-footer-two { 
        display : none; 
        visibility : hidden; 
    }
}
/*-----------------------------------------------------Footer styles*/

.footer {
    font-family: 'Mukta Malar', sans-serif;
    padding: 10px 20px;
    font-weight: 500;
    text: black;
    text-align: center;
    color: black;
}

.footer-text {
    text: black;
    text-align: center;
    color: black;
}

/*-----------------------------------------------------Dc-Chart styles*/

.select,
.dc-select-menu {
    border: 2px solid rgb(0, 24, 6, 0.7);
    width: 100px;
    height: 24px;
}

.number-box {
    border: 100px;
    font-size: 100px;
    font-family: 'Mukta Malar', sans-serif;
    font-weight: 500;
    color: #fafafa;
    padding: 5px 1px;
    text-align: center;
    line-height: normal;
}

.dc-chart .axis text {
    fill-opacity: .8;
    fill: white;
    font-size: 13px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
}

.dc-chart .pie-slice {
    fill-opacity: .8;
    fill: white;
    font-size: 13px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;

}

.dc-chart g.row text {
    fill-opacity: .8;
    fill: white;
    font-size: 13px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;

}

.dc-chart g.dc-legend-item text {
    fill-opacity: .8;
    fill: white;
    font-size: 13px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;

}

.dc-chart rect.bar {
    fill-opacity: .8;
    font-size: 13px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
}

.dc-chart p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
    opacity: .8;
}

.dc-chart g.row rect {
    fill-opacity: .8;
    font-size: 13px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
}


/*-----------------------------------------------------Parallax styles*/

.parallax-one,
.parallax-two,
.parallax-three,
.parallax-four {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax-one {
    background-image: url('../../img/titanic_at_night.jpg');
    min-height: 800px;
}

.parallax-two {
    background-image: url('../../img/titanic_propellers.jpg');
    min-height: 700px;
}

.parallax-three {
    background-image: url('../../img/titanic_at_sea.jpg');
    min-height: 700px;
}

.parallax-four {
    background-image: url('../../img/titanic_underwater_wreck.jpg');
    min-height: 700px;
}

.parallax-text {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.parallax-text .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.parallax-text .border.trans {
    background-color: transparent;
}

@media(max-width:568px) {
    .parallax-one,
    .parallax-two,
    .parallax-three,
    .parallax-four {
        background-attachment: scroll;
    }
}
