@import url('https://fonts.googleapis.com/css?family=Mukta+Malar:100,200,300,400,500,600,700|Roboto+Slab:100,200,300,400,500,600,700');


/*-----------------------------------------------------Body styles*/

body,
html {
    /*height: 100%;*/
    /*margin: 0;*/
    text-align: left;
    /*background-color: yellow;*/
    height: 100%;
    width: 100%;
    margin: 0;
    /*padding: 0;*/
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    overflow-x: hidden;
}



/*-----------------------------------------------------Font styles*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Mukta Malar', 'Roboto Slab', sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}

/*-----------------------------------------------------NavBar styles*/

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: black;
    opacity: 0.60;

}

.navbar {
    font-size: 20px;
    color: white;
    font-family: 'Mukta Malar', 'Roboto Slab', sans-serif;
    /*background-color: grey;*/
    padding-bottom: 20px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

/*.nav-links,*/

/*.logo {*/

/*    text-decoration: none;*/

/*    color: white;*/

/*}*/

a {
    color: white;
    text-decoration: none !important;
}

.main-nav li {
    text-align: center;
    margin: 10px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    margin-bottom: 50px;
    cursor: pointer;
    color: pink;
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-link {
        margin-left: 20px;

    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-link:hover {
        color: purple;
    }
}

/*-----------------------------------------------------Flexbox parent containers and children*/

/*----------------------------------------------------- Flexbox Number-box*/

.container-number-box {
    /*border: 5px solid black;*/
    display: flex;
    /*flex-wrap: wrap;*/
}

.number-box {
    /*flex: 1;*/
    flex-grow: 1;
    /*min-width: 250px;*/
    /*height: 150px;*/
    align-items: center;
}

/*----------------------------------------------------- Flexbox Selector*/

.container-selector {
    /*border: 5px solid black;*/
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.class-selector,
.gender-selector,
.age-selector,
.average-selector {
    flex: 1;
    flex-grow: 1;
    min-width: 180px;
    min-height: 150px;
    align-items: center;
    padding-top: 80px;
    padding-left: 30px;
    padding-bottom: 40px;
    width: 25%;
}

@media(min-width:839px) {
    .class-selector {
        padding-left: 100px;

    }

    .gender-selector,
    .age-selector,
    .average-selector {
        padding-left: 50px;

    }
}


/*----------------------------------------------------- Flexbox PieChart*/

.container-pie {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
}

.crew-class-pie,
.sex-pie,
.age-pie,
.survival-pie {
    flex: 1;
    flex-grow: 1;
    min-width: 260px;
    min-height: 250px;
    align-items: center;
    padding-top: 80px;
    padding-left: 30px;
    padding-bottom: 20px;
    width: 25%;
}



/*----------------------------------------------------- Flexbox RowChart*/

.container-row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
}

.balance-rowchart,
.distribution {
    flex: 1;
    flex-grow: 1;
    min-width: 350px;
    min-height: 250px;
    align-items: center;
    padding-top: 80px;
    padding-left: 30px;
    padding-bottom: 20px;
    /*width: 50%;*/
    /*doesnt seem to do anything*/
    /**/
}

@media(min-width:839px) {

    .balance-rowchart,
    .distribution {

        padding-left: 100px;

    }

}

/*----------------------------------------------------- Flexbox BarChart*/

.container-bar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
}

.gender-bar,
.class-bar,
.age-bar {
    flex: 1;
    flex-grow: 1;
    min-width: 250px;
    min-height: 250px;
    align-items: center;
    padding-top: 60px;
    padding-left: 30px;
    padding-bottom: 20px;
    width: 33%;
}

/*----------------------------------------------------- Flexbox BarChart*/

.container-footer {
    display: flex;
    /*border: 5px solid orange;*/
    flex-wrap: wrap;
}

.footer {
    flex-grow: 1;
}

/*-----------------------------------------------------Dc-Chart styles*/

.number-box {
    border: 100px;
    font-size: 100px;
    font-family: 'Mukta Malar', sans-serif;
    font-weight: 500;
    padding: 5px 1px;
    text-align: center;
    line-height: normal;
}

.dc-chart .axis text {
    fill-opacity: .8;
    fill: black;
    font-size: 13px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
}

.dc-chart .pie-slice {
    fill-opacity: .8;
    fill: white;
    font-size: 13px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;

}

.dc-chart g.row text {
    fill-opacity: .8;
    fill: black;
    font-size: 13px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;

}

.dc-chart g.dc-legend-item text {
    fill-opacity: .8;
    fill: black;
    font-size: 13px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;

}

.dc-chart rect.bar {
    fill-opacity: .8;
    font-size: 13px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
    opacity: .8;
}

.dc-chart g.row rect {
    fill-opacity: .8;
    font-size: 13px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
}

/*.selector-charts i {*/

/*    font-size: 70px;*/

/*    fill-opacity: .6;*/

/*    color: yellow;*/

/*    margin: 8px 0;*/

/*    float: inherit;*/

/*}*/

/*#selector-box-1 {*/

/*    background-color: lightgreen;*/

/*    opacity: .6;*/

/*    padding: 2px;*/

/*    min-height: 120px;*/

/*}*/

/*#selector-box-2 {*/

/*    background-color: lightblue;*/

/*    opacity: .6;*/

/*    padding: 2px;*/

/*    min-height: 120px;*/

/*}*/

/*-----------------------------------------------------Footer*/

.footer {
    font-family: 'Mukta Malar', sans-serif;
    padding: 0px 10px;
    font-weight: 500;
    /*opacity: .8;*/
    color: black;
}


/*-----------------------------------------------------Parallax styles*/

.parallax-one,
.parallax-two,
.parallax-three,
.parallax-four {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.parallax-one {
    background-image: url('../../img/titanic_night_time.jpg');
    min-height: 1200px;
}

.parallax-two {
    background-image: url('../../img/titanic_propellers.jpg');
    min-height: 500px;
}

.parallax-three {
    background-image: url('../../img/titanic_wreck_blue.jpg');
    min-height: 500px;
}

.parallax-four {
    background-image: url('../../img/titanic_wreck_brown.jpg');
    min-height: 500px;
}

.parallax-text {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.parallax-text .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.parallax-text .border.trans {
    background-color: transparent;
}

@media(max-width:568px) {
    .parallax-one,
    .parallax-two,
    .parallax-three,
    .parallax-four {
        background-attachment: scroll;
    }
}


/*----------------------------------------------------- Flexbox Media Queries*/

/*----------------------------------------------------- Flexbox Selectors*/

/*@media(max-width:568px) {*/

/*    .class-selector,*/
/*    .gender-selector,*/
/*    .age-selector,*/
/*    .average-selector {*/
/*        flex: 1;*/
/*        flex-grow: 1;*/
        /*min-width: 180px;*/
        /*min-height: 150px;*/
        /*align-items: center;*/
        /*padding-top: 80px;*/
        /*padding-left: 30px;*/
        /*padding-bottom: 40px;*/
        /*width: 25%;*/
/*    }*/

/*    .gender-selector,*/
/*    .age-selector,*/
/*    .average-selector {*/
        /*padding-left: 50px;*/
/*    }*/
    /*----------------------------------------------------- Flexbox PieChart*/
/*    .crew-class-pie,*/
/*    .sex-pie,*/
/*    .age-pie,*/
/*    .survival-pie {*/
/*        flex: 1;*/
/*        flex-grow: 1;*/
        /*min-width: 250px;*/
        /*min-height: 250px;*/
        /*align-items: center;*/
        /*padding-top: 80px;*/
        /*padding-left: 30px;*/
        /*padding-bottom: 20px;*/
        /*width: 25%;*/
/*    }*/



    /*----------------------------------------------------- Flexbox RowChart*/
/*    .balance-rowchart,*/
/*    .distribution {*/
/*        flex: 1;*/
/*        flex-grow: 1;*/
        /*min-width: 250px;*/
        /*min-height: 250px;*/
        /*align-items: center;*/
        /*padding-top: 80px;*/
        /*padding-left: 30px;*/
        /*padding-bottom: 20px;*/
/*    }*/

    /*----------------------------------------------------- Flexbox BarChart*/
/*    .gender-bar,*/
/*    .class-bar,*/
/*    .age-bar {*/
/*        flex: 1;*/
/*        flex-grow: 1;*/
        /*min-width: 250px;*/
        /*min-height: 250px;*/
        /*align-items: center;*/
        /*padding-top: 60px;*/
        /*padding-left: 30px;*/
        /*padding-bottom: 20px;*/
        /*width: 33%;*/
/*    }*/

/*}*/


@media(max-width:568px) {
    .crew-class-pie,
    .sex-pie,
    .age-pie,
    .survival-pie {
        flex: 1;
        flex-grow: 1;
        min-width: 250px;
        min-height: 250px;
        align-items: center;
        padding-top: 80px;
        padding-left: 90px;
        padding-bottom: 20px;
        width: 25%;
    }
}